<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/App.css"></link>
  <link rel="stylesheet" href="./css/Header.css" />
  <link rel="stylesheet" href="./css/Home.css" />
  <link rel="shortcut icon" type="image/png" href="/css/img/favicon1.png"/>
  <title>RateUF</title>
</head>

<body>
  <div style="background: linear-gradient(#a6a6a6, #ffffff);" id="root"></div>
</body>
<script src="bundle.js"></script>

</html>