@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|PT+Sans');

/*client/css/App.css*/
.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
  width:300px;
  text-align:left;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
  text-align: center;
  width:50px;
}
.button-center {
  text-align: center;
}
.Modal {
  position: relative;
  top: 250px;
  left: 400px;
  right: 20px;
  bottom: 20px;
  background-color: #F5F5F5;
  width:500px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}
.button-center {
  text-align: center;
}
label{
  display:inline-block;
  width:200px;
  margin-right:30px;
  text-align:right;
}
fieldset{
  border:none;
  margin:0px auto;
}
.closebtn{
  float:right;
}

.demo-infinite-container {
  margin-top: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 550px;
  /*
  width: 1100px;
  */
}

.sidebar{
  margin-top: 100px;
}

.ant-slider-disabled .ant-slider-track {
  background-color: rgba(230, 13, 31, 0.425) !important;
}

.spin-icon{
  width: 20%;
  height: 20%;
  margin-left: 50%;
}

.table{
  height: 23rem;
}

.success-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.title-here{
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.prof{
  text-align: center;
}

.profName{
  font-size: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.profDept{
  text-align: center;
}

.profRateButton{
  display: inline;
}

.profRateText{
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.profQua{
  display: inline;
  margin-left: 4rem;
}
@media (max-width: 60rem) {
  .table {
    display: none;
  }
}