@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|PT+Sans');



.special-text {
  font-family: 'Pacifico', cursive;
  color: rgb(252, 137, 84);
  font-size: 3.5rem;
  float: left;
  padding-left: 2rem;
  padding-right: 7rem;
}

.head-contents {
  text-align: center;
  position: relative;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: grey;
  padding-left: 2rem;
  top: 3rem;
}

.items {
  font-size: 1.25rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
} 

.logo-head{
  position: relative;
}

.foot-pic{
  max-height: 2.5rem;
  max-width: 2.5rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

.foott{
  color: black;

}

.mobile-head{
  display: none;
}

@media (max-width: 40rem) {
  .web-head{
    display: none;
  }

  .mobile-head{
    display: list-item;
    width: 100%;
    height: 3rem;
    background-color: black;
    display: none;
  }

  .special-text{
    font-family: 'Pacifico', cursive;
    color: rgb(252, 137, 84);
    text-align: center;
    font-size: 1rem;
  }

  .burger{
    margin-left: 80%;
  }
  
}