@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');

.welcome-box {
  padding: 3.5rem;
  margin: 2rem;
  margin-top: 5rem;
  padding-bottom: 6rem;
  opacity: 5;
  
}

.welcome-text {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  text-align: center;
  color: #ff8533;
  opacity: 0.8;
  margin-top: 2rem;
}

.start {
  text-align: center;
  font-family: sans-serif;
}

.botones {
  padding: 1rem;
  font-size: 5rem;
}

.welcome-buttons {
  margin-left: 15%;
  margin-top: 4rem;
  position: relative;
}

.whitespace{
  height: 4rem;
}

